@background: #1b1d1e;
@foreground: #ccccc6;

@dark-black: #262729;
@light-black: #554444;
 
@dark-red: #f92672;
@light-red: #ff669d;

@dark-green: #a6e22e;
@light-green: #beed5f;

@dark-yellow: #fd971f;
@light-yellow: #e6db74;

@dark-blue: #240f72;
@light-blue: #66d9ef;

@dark-magenta: #9e6ffe;
@light-magenta: #9e6ffe;

@dark-cyan: #5e7175;
@light-cyan: #5e7175;

@dark-white: #ccccc6;
@light-white: #f8f8f2;

* {
    margin: 0;
    position: relative;
}

body {
    font-family: SansationRegular, Arial, sans-serif;
    background-color: @background;
    color: @foreground;
}

section {
    display: block;
    min-height: 600px;
    padding: 0.5em;
}

a {
    color: @light-green;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.clear {
    clear: both;
}

nav > a {
    width: 100px;
    padding: 10px;
    font-size: 120%;
}

nav > a, section {
    background-color: @dark-black;
    box-shadow: 0 0 1px @dark-black;
}

a.comments {
    display: block;
    margin: 10px;
    text-align: right;
}

header > h1 {
    margin: 20px;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 10px;
}

p {
    line-height: 130%;
}

ul.tags {
    display: block;
    list-style-type: none;
    background-color: @background;
    padding: 8px;
}

ul.tags li {
    display: inline-block;
}

article {
    margin: 16px;
}

@media (min-width: 1000px) and (min-device-width: 1000px) {
    header, nav, section {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Syntax highlighting */

code {
    display: inline-block;
    background: @background;
    color: @foreground;
    white-space: pre;
    font-family: monospace;
    padding: 0 2px;
}

div.code {
    width: 100%;
    background: @background;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid @foreground;
    box-shadow: 0 0 1px black, 0 0 1px black inset;
    text-shadow: 1px 1px 1px black;
    overflow: auto;

    .ln {
        float: left;
        width: auto;
        color: @dark-yellow;
        white-space: pre;
        font-family: monospace;
    }

    code {
        display: block;
        float: left;
        padding: 0;
    }
}

div.code .ln {
}

div.code code {
}

code .st, code .re, code .hx, code .id, code .tn, code .av {
    color: @dark-yellow;
}
.css .is, .javascript .kw {
    color: @dark-magenta;
}
code .nm, code .vr, code .in, code .an {
    color: @dark-green;
}
code .op, code .id, code .is {
    font-weight: bold;
}
code .cm {
    color: @light-green;
}

code .br, code .cn, code .sg, code .eg, .html .is, .html .op {
    color: @dark-cyan;
    font-weight: bold;
}
