@import "../../stylesheets/variables/colors"

.TagList
    display: block
    list-style-type: none
    background-color: $background
    padding: 8px 4px

    &__tag
        display: inline-block
        margin: 0 4px
