$background = #1b1d1e
$foreground = #ccccc6

$shadow = #000000

$dark-black = #262729
$light-black = #554444

$dark-red = #f92672
$light-red = #ff669d

$dark-green = #a6e22e
$light-green = #beed5f

$dark-yellow = #fd971f
$light-yellow = #e6db74

$dark-blue = #240f72
$light-blue = #66d9ef

$dark-magenta = #9e6ffe
$light-magenta = #9e6ffe

$dark-cyan = #5e7175
$light-cyan = #5e7175

$dark-white = #ccccc6
$light-white = #f8f8f2

Blogger = #FF8833
Facebook = #3B5998
Flickr = #FE0883
Foursquare = #0072B1
GooglePlus = #C63D2D
Instagram = #4E433C
LinkedIn = #4875B4
Pinterest = #910101
Reddit = #CEE3F8
RSS = #FA9B39
StumbleUpon = #EB4924
Tumblr = #34526F
Twitter = #00A0D1
Vimeo = #44BBFF
Vine = #00a478
YouTube = #C4302B
Soundcloud = #F76700
