<nav>
	<a href="http://avd.io" title="About Me">
		<span class="icon-about">About Me</span>
	</a>
	<a href="http://blog.avd.io" title="My Blog">
		<span class="icon-blog">Blog</span>
	</a>
	<a href="https://github.com/jussi-kalliokoski" title="My GitHub Profile">
		<span class="icon-github">GitHub</span>
	</a>
	<a href="https://twitter.com/quinnirill" title="My Twitter Profile">
		<span class="icon-twitter">Twitter</span>
	</a>
	<a href="http://avd.io/+" title="My Google+ Page">
		<span class="icon-google-plus">Google+</span>
	</a>
	<a href="http://fi.linkedin.com/pub/jussi-kalliokoski/29/39b/948" title="My LinkedIn Profile">
		<span class="icon-linkedin">LinkedIn</span>
	</a>
	<a href="http://soundcloud.com/quinnirill" title="My Music">
		<span class="icon-music">Music</span>
	</a>
</nav>
