<!DOCTYPE html>
<html lang="{{language}}">
<head>
	<title>{{title}} :: {{name}}</title>
	<link rel="stylesheet" href="/css/style.css" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="keywords" content="jussi kalliokoski blog javascript audio ofmlabs" />
	<meta name="description" content="I mostly blog about things that interest me and things I want to remember, sort of a public diary. Feel free to read, you might find it interesting if you think we're interested in similar subjects." />
	<meta name="author" content="{{author}}" />
	<link rel="alternate" type="application/rss+xml" title="{{title}}" href="/rss.xml">
</head>
<body>
	{{{navHeader}}}
	<section>
		<h1>Tags: {{name}}</h1>
		{{{articlesHTML}}}
	</section>
	<link rel="stylesheet" href="/css/fonts/sansation/regular.css" />
</body>
</html>
