@import "../../stylesheets/variables/colors.styl"

.Nav
    display: block

    @media (min-width:1200px) and (min-height:600px)
        top: 0
        left: 50%
        margin-left: -570px
        position: fixed
        width: 90px
